body {
    display: flex;
    justify-content: center;
    background-color: rgba(195, 0, 255, 0.566);
    font-family: $fonte-principal;
}
form {
    position: absolute;
    top: 30%;
    display: flex;
    width: 250px;
    padding-inline: 10px;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    background-color: rgb(14, 123, 239);
}
input, label {
    padding-top: 8px;
}
label, #lembrar {
    padding-top: auto;
}
#enviar,  button {
    align-self: center;
    padding: 10px;
    width: 250px;
}